.button {
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 0.5px;
  &:hover {
    cursor: pointer;
    transition: 500ms;
  }

  &.button-text {
    border: none;
    background: none;
    color: #4f8cee;
    &.button-text:hover {
      background: #dce8fb80;
    }
  }

  &.button-contained {
    background: #4f8ceeec;
    border: none;
    color: #ffffff;
  }

  &.button-outlined {
    border: 1px solid #4f8cee;
    background: none;
    color: #4f8cee;
    &:hover {
      background: #dce8fb80;
    }
  }
}